<a href="https://colab.research.google.com/github/Rafa2704/P-s_Python/blob/main/C%C3%B3pia_de_estrutura_de_dados_listas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.	Crie uma lista contendo 10 valores inteiros aleatórios, entre 1 e 20. Imprima:
a.	O maior valor, o menor valor, a soma e a média dos valores na lista
b.	Ordene a lista, e em seguida, a imprima em ordem crescente
c.	Imprima a lista em ordem decrescente
d.	Solicite ao usuário que informe um valor e imprima a quantidade de ocorrências do valor na lista. Imprima uma mensagem, caso o valor não se encontre na lista

In [2]:
#Crie uma lista contendo 10 valores inteiros aleatórios, entre 1 e 20
import random
import pandas
lista =  random.sample(range(1, 21),10)
print(lista)

[13, 5, 2, 8, 16, 1, 17, 9, 6, 3]

In [ ]:
#O maior valor, o menor valor, a soma e a média dos valores na listatype(lista)

In [ ]:
media = sum(lista) / len(lista)

In [ ]:
print(f'o maior numero da lista é {max(lista)}')
print(f'o menor numero da lista é {min(lista)}')
print(f'a soma  da lista é {sum(lista)}')
print(f'a media da lista é {media}')

o maior numero da lista é 19
o menor numero da lista é 4
a soma  da lista é 113
a media da lista é 11.3

In [ ]:
#Ordene a lista, e em seguida, a imprima em ordem crescente
print(sorted(lista))

[4, 5, 7, 8, 10, 13, 14, 16, 17, 19]

In [ ]:
#. Imprima a lista em ordem decrescente
print(sorted(lista, reverse= True))

[19, 17, 16, 14, 13, 10, 8, 7, 5, 4]

In [ ]:
#Solicite ao usuário que informe um valor e imprima a quantidade de ocorrências do valor na lista. Imprima uma mensagem, caso o valor não se encontre na lista
qtd = 0
valor = int(input('Informe um valor'))
if valor in lista:
  qtd = qtd + 1
  print(f' Valor informado é {valor}')  
  print(f'quantidades de vezes q aparece é {qtd}' )  
  print(f'essa e a lista {lista}')
else:
  print(f'essa e a lista {lista}')
  print(f'Valor informado {valor} não esta na lista')

Informe um valor20
essa e a lista [8, 10, 14, 17, 13, 7, 16, 4, 19, 5]
Valor informado 20 não esta na lista

2.	Crie duas listas com 10 valores inteiros aleatórios (escolha uma faixa qualquer). Crie outras duas listas: uma que contenha a soma dos elementos de mesma posição das duas listas originais, e outra que contenha a multiplicação dos valores de mesma posição. Imprima em seguida as 3 listas.

In [ ]:
lista1 = []
lista2 = []

for i in range(1,11):
  lista1.append(random.randint(1,10))
  lista2.append(random.randint(1,10))

soma_lista = []
multiplicao_lista = []

# Calculando a soma e multiplicação dos elementos correspondentes
for i in range(len(lista1)):
    soma = lista1[i] + lista2[i]
    multiplicacao = lista1[i] * lista2[i]
    soma_lista.append(soma)
    multiplicao_lista.append(multiplicacao)

# Imprimindo as três listas
print("Lista 1:", lista1)
print("Lista 2:", lista2)
print("Soma dos elementos correspondentes:", soma_lista)
print("Multiplicação dos elementos correspondentes:", multiplicao_lista)

Lista 1: [3, 6, 10, 2, 10, 1, 8, 5, 1, 6]
Lista 2: [10, 7, 1, 5, 5, 5, 1, 1, 3, 1]
Soma dos elementos correspondentes: [13, 13, 11, 7, 15, 6, 9, 6, 4, 7]
Multiplicação dos elementos correspondentes: [30, 42, 10, 10, 50, 5, 8, 5, 3, 6]

3.	Considere a seguinte lista: [10, 20, 30, 30, 30, 40, 10, 20]
	Faça um programa que exclua todas as ocorrências do número 30 da lista
*texto em itálico*

In [ ]:
lista = [10, 20, 30, 30, 30, 40, 10, 20]

# Percorre a lista
for numero in lista:
    # Verifica se o número é igual a 30
    if numero == 30:
        # Remove o número da lista
        lista.remove(numero)

print("Lista após a remoção:", lista)

Lista após a remoção: [10, 20, 30, 40, 10, 20]

4.	Crie uma lista contendo 10 valores inteiros aleatórios (escolha uma faixa qualquer). Crie outras duas listas: uma para armazenar os valores pares da primeira lista, e outra para armazenar os valores ímpares. Imprima em seguida as 3 listas.

In [6]:
# lista contendo 10 valores inteiros aleatórios
lista_aleatorios =  random.sample(range(1, 21),10)
print(lista_aleatorios)

# listas vazias 
pares = []
impares = []

for i in lista_aleatorios:
  if i % 2 == 0:
    pares.append(i)
  else:
    impares.append(i)

print(f' Os numeros pares da lista foram {pares}')
print(f' Os numeros impares  da lista foram {impares}' )

[4, 13, 3, 17, 7, 12, 5, 15, 10, 2]
 Os numeros pares da lista foram [4, 12, 10, 2]
 Os numeros impares  da lista foram [13, 3, 17, 7, 5, 15]

5.	Solicite ao usuário que digite uma data no formato DD/MM/AAAA e imprima a data por extenso. Por exemplo:
1/11/2022 – 08 de novembro de 2022
(dica: crie uma lista contendo o nome de cada mês do ano)

In [11]:
# Lista de nomes dos meses do ano
meses = [
    'janeiro', 'fevereiro', 'março', 'abril', 'maio', 'junho',
    'julho', 'agosto', 'setembro', 'outubro', 'novembro', 'dezembro'
]

# Solicita ao usuário uma data
data = input("Digite uma data no formato DD/MM/AAAA: ")

# Separa o dia, mês e ano
dia, mes, ano = data.split('/')



# Converte para inteiro
dia = int(dia)
mes = int(mes)
ano = int(ano)

#pega o dia e converte para inteiro, depois ele vai na lista de meses e pega o indice mes -1 por a lista inicia em 1 e o normal é 0, depois o ano
# Imprime a data por extenso
data_extenso =print(f'{dia} de {meses[mes - 1]} de {ano}')

Digite uma data no formato DD/MM/AAAA: 27/04/2014
27 de abril de 2014

6.	Faça um programa que gere uma lista contendo 6 números aleatórios, de 1 a 60, que serão jogados na Mega-Sena. Em seguida, solicite ao usuário os 6 números sorteados. Imprima a lista contendo os números jogados, e a quantidade de números acertados no sorteio

In [39]:
# Gera a lista de números aleatórios
numeros_sorteados = random.sample(range(1, 61), 6)

# Solicita ao usuário os números sorteados
numeros_jogados = []
for i in range(6):
    numero = int(input("Digite o número sorteado: "))
    numeros_jogados.append(numero)

# Verifica a quantidade de números acertados
# a função set ela cria um conjunto de dados com valores unicos  e o & ele verifica se tem interseção  entre elas 
acertos = set(numeros_jogados) & set(numeros_sorteados)
quantidade_acertos = len(acertos)

# Imprime os números jogados e a quantidade de acertos
print(f' Números jogados:" {numeros_jogados}')
print(f' Numeros que vc acertou: {acertos}')
print(f' Quantidade de acertos: {quantidade_acertos}')
print(f' Numeros sorteados foram {numeros_sorteados}')

Digite o número sorteado: 25
Digite o número sorteado: 65
Digite o número sorteado: 17
Digite o número sorteado: 5
Digite o número sorteado: 65
Digite o número sorteado: 17
 Números jogados:" [25, 65, 17, 5, 65, 17]
 Numeros que vc acertou: set()
 Quantidade de acertos: 0
 Numeros sorteados foram [39, 10, 42, 54, 24, 22]

In [ ]:
2