<a href="https://colab.research.google.com/github/Rafa2704/P-s_Python/blob/main/Exercicio_p%C3%B3s_for.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
jogadores = pd.read_csv(r'/content/jogadores.csv',sep=';')

In [ ]:
jogadores.dropna(subset=['salario'], inplace = True)

In [ ]:
jogadores

         jogador      time   posicao   salario
0        Everson  Atlético   Goleiro  150000.0
1  Incrível Hulk  Atlético  Atacante  850000.0
2          Fábio  Cruzeiro   Goleiro  100000.0
3            Edu  Cruzeiro  Atacante  150000.0

In [ ]:
jogadores['salario'] > 200000.0

0    False
1     True
2    False
3    False
Name: salario, dtype: bool

1. Faça um programa que faça a leitura de 5 valores, e para cada valor, mostre o seu dobro na tela.

In [ ]:
for i in range(1,6):
  num1 = int(input('Digite o 1° valor'))
  print(f' o dobro do valor é {num1 * 2}')

2. Faça um programa que leia um número e que imprima os números ímpares de 1 até o número informado

In [ ]:
num =  int(input('Digite o 1° valor'))
for i in range(1,num +1):
  if i % 2 !=0:
    print(i)

3. Leia um número e imprima a tabuada de multiplicar deste número.

In [ ]:
n =  int(input('Digite o 1° valor'))
for i in range(1,11):
  print(f'{n} * {i} = {n * i} ')

4. Faça um programa que leia dois números inteiros e que imprima todos os
números inteiros existentes entre o menor e o maior número informados

In [ ]:
n1 = int(input('Digite o 1° valor'))
n2 = int(input('Digite o 1° valor'))
if n1 < n2:
  menor = n1
  maior = n2
else:
  menor = n2
  maior = n1

# Impressão dos números entre o menor e o maior
for numero in range(menor + 1, maior):
    print(numero)

5. Faça um programa que leia um número que calcule a soma dos números
inteiros entre 1 e o número informado

In [ ]:
# Leitura do número informado pelo usuário
numero = int(input("Digite um número inteiro: "))

soma = 0

# Cálculo da soma dos números inteiros entre 1 e o número informado
for i in range(1, numero + 1):
    soma = soma +  i

# Impressão da soma
print("A soma dos números inteiros entre 1 e", numero, "é:", soma)

Digite um número inteiro: 10
A soma dos números inteiros entre 1 e 10 é: 55

6. Faça um programa que leia um número e que calcule o fatorial deste número

In [ ]:
# Leitura do número informado pelo usuário
numero = int(input("Digite um número inteiro: "))

# Verificação se o número é negativo
if numero < 0:
    print("O fatorial não pode ser calculado para números negativos.")
elif numero == 0:
    print("O fatorial de 0 é 1.")
else:
    fatorial = 1

    # Cálculo do fatorial do número
    for i in range(1, numero + 1):
        fatorial = fatorial *  i

    # Impressão do resultado
    print("O fatorial de", numero, "é:", fatorial)

Digite um número inteiro: 5
O fatorial de 5 é: 120

7. Faça um programa que solicite ao usuário que informe o peso, em kg, de 10
pessoas, e em seguida, exiba a média desses pesos

In [ ]:
# Inicialização da variável de soma dos pesos
soma_pesos = 0

# Loop para ler o peso de cada pessoa
for i in range(1, 11):
    peso = float(input(f'Informe o peso da pessoa {i}: '))
    soma_pesos = soma_pesos +  peso

# Cálculo da média dos pesos
media_pesos = soma_pesos / 10

# Exibição da média dos pesos
print("A média dos pesos informados é:", media_pesos)

8. Faça um programa que leia o sexo e o peso de 10 pessoas, e mostre quantas
pessoas do sexo masculino possuem peso entre 60 e 80 kg, bem como a
quantidade de mulheres que possuem peso entre 50 e 70 kg.

In [ ]:
# Inicialização das variáveis de contagem
homens_peso_60_80 = 0
mulheres_peso_50_70 = 0

# Loop para ler o sexo e peso de cada pessoa
for i in range(1, 11):
    sexo = input("Informe o sexo da pessoa {} (M para masculino, F para feminino): ".format(i))
    peso = float(input("Informe o peso da pessoa {}: ".format(i)))

    # Verificação do sexo e faixa de peso
    if sexo.upper() == "M" and peso >= 60 and peso <= 80:
        homens_peso_60_80 += 1
    elif sexo.upper() == "F" and peso >= 50 and peso <= 70:
        mulheres_peso_50_70 += 1

# Exibição dos resultados
print("Quantidade de homens com peso entre 60 e 80 kg:", homens_peso_60_80)
print("Quantidade de mulheres com peso entre 50 e 70 kg:", mulheres_peso_50_70)

. Faça um programa que leia a idade e peso de sete pessoas. Calcule e mostre:
- a quantidade de pessoas com mais de 90 kg
- a média das idades das sete pessoas

In [ ]:
# Inicialização das variáveis
quantidade_pessoas_mais_90kg = 0
soma_idades = 0

# Loop para ler a idade e peso de cada pessoa
for i in range(1, 8):
    idade = int(input(f'Informe a idade da pessoa {i}: '))
    peso = float(input(f'Informe o peso da pessoa {i}: '))

    # Verificação do peso
    if peso > 90:
        quantidade_pessoas_mais_90kg += 1

    # Soma das idades
    soma_idades += idade

# Cálculo da média das idades
media_idades = soma_idades / 7

# Exibição dos resultados
print(f'Quantidade de pessoas com mais de 90 kg:{quantidade_pessoas_mais_90kg}')
print(f'Média das idades das sete pessoas: {media_idades}')

10. Faça um programa que leia um número e que imprima na tela se o número é
primo ou não.

In [ ]:
# Leitura do número informado pelo usuário
numero = int(input("Digite um número inteiro: "))

# Verificação se o número é primo
eh_primo = True

if numero <= 1:
    eh_primo = False
else:
    for i in range(2, numero):
        if numero % i == 0:
            eh_primo = False
            break

# Impressão do resultado
if eh_primo:
    print("O número é primo.")
else:
    print("O número não é primo.")

Digite um número inteiro: 53
O número é primo.